{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'core/css/main.css' %}">

    <title>{% block title %}{% endblock title %} | MiniBlog</title>

</head>

<body class="text-center {% block bodyStyl %} {% endblock bodyStyl %}">

    <!--Social Navigation Start-->

    <nav id="myNavbar" class="navbar navbar-expand-lg navbar-dark bg-dark text-white fw-bold mb">
        <div class="container-fluid">
            <img class="d-block mx-2 my-1 rounded-circle"
                src="{% static 'core/images/LinkedIn.jpg' %}" alt="" width="50" height="50">
            <a class="navbar-brand" href="{% url 'Home' %}">MiniBlog</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                        <a class="nav-link {% block homeActive %} {% endblock homeActive %}" aria-current="page"
                            href="{% url 'Home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% block blogActive %} {% endblock blogActive %}"
                            href="{% url 'BlogHome' %}">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% block aboutActive %} {% endblock aboutActive %}"
                            href="{% url 'About' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% block conActive %} {% endblock conActive %}"
                            href="{% url 'Contact' %}">Contact</a>
                    </li>
                    {% if profile %}
                        <li class="nav-item">
                            <a class="nav-link {% block profileActive %} {% endblock profileActive %}"
                                href="#">Profile</a>
                        </li>
                    {% endif %}
                </ul>
                {% if sign_log %}
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="btn btn-outline-success m-2" href="{% url 'SignUp' %}">Sign Up</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-success m-2" href="{% url 'LogIn' %}">Log In</a>
                        </li>
                    </ul>             
                {% elif loged_in %}
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="btn btn-outline-warning m-2" href="{% url 'ChangePass' %}">Change Password</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-danger m-2" href="{% url 'LogOut' %}">Log Out</a>
                        </li>
                    </ul>
                {% comment %} {% elif save_blog %}
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="btn btn-success m-2" href="{% url 'SaveBlog' blog.slug %}">Save Blog</a>
                        </li>
                    </ul> {% endcomment %}
                {% endif %}
            </div>
        </div>
    </nav>
    
    <!--Social Navigation End-->

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                <h3>{{ message }}</h3>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %} 

    {% block content %} {% endblock content %}

    <!-- Make a footer for the page! -->

    <footer class="footer mt-auto py-3 bg-dark">
        <div class="container my-2">
            <img src="{% static '/core/images/LinkedIn.jpg' %}" class="rounded-circle" width='70px' height='70px'>
            <div class="container my-3">
                <img src="{% static '/core/images/LinkedIn.jpg' %}" width='50px' height='50px' class="mx-2">
                <img src="{% static '/core/images/LinkedIn.jpg' %}" width='50px' height='50px' class="mx-2">
                <img src="{% static '/core/images/LinkedIn.jpg' %}" width='50px' height='50px' class="mx-2">
                <img src="{% static '/core/images/LinkedIn.jpg' %}" width='50px' height='50px' class="mx-2">
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
</body>

</html>