{% extends "base.html" %}

{% block title %}

Blog Post

{% endblock title %}

{% block blogActive %}

active

{% endblock blogActive %}

{% block content %}

<div class="container">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative my-3">
        <div class="col p-5 d-flex flex-column position-static">
            <h1 class="mb-2 display-6 fw-bold">{{blog.title}}</h1>
            <div class="mb-1 text-muted">
                <strong>Blog By : <strong class="d-inline-block mb-3 text-primary">{{blog.author}}</strong> | <strong>{{blog.date}}</strong></strong>
            </div>
            <p class="mb-auto">
                {{blog.content}}
            </p>
        </div>
    </div>
</div>

{% endblock content %}